#title_bar {
    display: flex ;
    align-items: center ;
    gap: 2em ;
    margin-inline : 2em ;
}

/* Invert the trash colors */
#btn_delete {
    color: var(--page-bg-color) ;
    background-color: var(--button-color);
}

#btn_delete:hover {
    color: var(--button-color) ;
    background: none ;
}

#content {
    margin-inline : 8em ;
    margin-top : 1em ;
    /* Margin around the fields area */
    background-color: var(--account-bg-color);
    padding: 1em ;
    border-radius: 1em;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 1.5em ;
}

#password-preview, #div-mandatory {
    margin-bottom : 1em ;
}

#content label {
    margin-bottom : 0.3em ;
    font-weight : bold ;
}
#content .form-check label {
    font-weight: normal ;
    font-size: 0.8em ;
}

#span-password {
    color: var(--button-color) ;
    font-weight: bold;
    font-size: 1.5em ;
    width : 100% ;
    display : block ;
    text-align: center ;
}

#size-div {
    align-items : center ;
}

#size-div label {
    text-align: center ;
    width : 100% ;
}

/* Style of the input range */ 
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
}
input[type=range]::-webkit-slider-thumb {
    height: 13px;
    width: 13px;
    margin-top: -4px;
    background: var(--button-color) ;
}


#div-content {
    display : flex ;
    flex-direction: column;
    align-items: center ;
}

#checks-content {
    display : flex ;
    justify-content: center ;
    flex-wrap: wrap;
}



.form-check {
    margin-inline : 0.6em ;
}

.form-check-input:checked {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

#div-mandatory {
    display : flex ;
    align-items: center ;
    gap : 1em ;
}


#input-mandatory {
    max-width : 15em ;
}

#password-btns {
    display: flex ;
    justify-content: center ;
    gap: 1.5em ;
}

#btn_generate {
    color : var(--account-bg-color) ;
    background-color: var(--button-color);
}

#btn_generate:hover {
    color : var(--button-color) ;
    background-color: var(--account-bg-color);
}